@page "/LoginPage"
@inject IModalService Modal

<div class="form-group">
    <h4>Username</h4>
    <input type="text" @bind="username"/>
    
    <h4>Password</h4>
    <input type="password" @bind="password"/>
    
    <br /><br /> 
    
    <button type="submit" @onclick=OnLoginAction>Login</button>
</div>





@code{
    private string username;
    private string password;

    public void OnLoginAction()
    {
        
    }
    
}
