@using Models
@using Assignment1.Pages
@inject IModalService Modal

<div class="user-box" style="@css">
    <div class="content">
        <h2>@Symbol</h2>
        <h3>@username</h3>
        <p>
            @userDescription
        </p>
        @if (Person.Equals("Administrator") || Person.Equals("RegularUser")){
            <a @onclick="@(() => Modal.Show<LoginPage>("Login"))" class="btn btn-primary">View </a>
        }
    </div>
</div>

@code {

    private string css => $"border: {borders};";
    private string[] bordersStyle = new[]
    {
        "background: linear-gradient(315deg, #ff0057, #e64a19)",
        "background: linear-gradient(315deg, #89ff00, #00bcd4)",
        "background: linear-gradient(315deg, #e91e63, #5d02ff)",
        "background: linear-gradient(315deg, #ff0000, #ffc107)"
    };

    [Parameter] public string Person { get; set; }
    [Parameter] public string Symbol { get; set; }

    private string username;
    private string userImagePath;
    private string userDescription;

    public string borders { get; set; }


    protected override void OnInitialized()
    {
        switch (Person)
        {
            case "Administrator":
                username = "Administrator";
                userDescription = "All functions are available for this type of account.";
                break;
            case "RegularUser":
                username = "Regular User";
                userDescription = "Function for update family information is available for this type of account";
                break;
            case "Visitor":
                username = "Visitor";
                userDescription = "Function for viewing family information is available for this type of account";
                break;
        }
    }


    public void buttonClicked()
    {
        //borders = "3px solid green";
    }

}